/*
/////////////////////////////////////////////////////////
//  NAMESPACE: agens.dialog
/////////////////////////////////////////////////////////
*/

.ui-widget-header,.ui-state-default, ui-button {
    background:#b9cd6d;
    border: 1px solid #b9cd6d;
    color: #FFFFFF;
    font-weight: bold;
}

#agens-node-box{
    position: relative;
}

#agens-image-export .wrap { border: 1px solid; margin: auto; }
