<md-dialog-content>
  <md-toolbar color="primary">
    <span>Image Type : &nbsp; &nbsp;</span><h4>{{imgType}}</h4>
    <!--<span>** Note: click image by mouse right-button and save as 'image filename' on your local drive</span>-->
    <span class="toolbar-fill-remaining"></span>
    <button md-icon-button mdTooltip="Close" (click)="closeDialog()">
      <md-icon class="md-24"><i class="material-icons">clear</i></md-icon>  
    </button>
  </md-toolbar>
  <div class="wrap"><img [src]="imgSrc" /></div>
</md-dialog-content>